
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: bisque;
}

.section1 {
  min-height: 40vh;
}

.border1 {
  border: 1px solid lightgray;
}

/* HERO */

.hero {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  height: 50vh;
  text-align: center;
}


/* ABOUT */

.profile-image {
  max-width: 300px;
}


/* Skills */

.icon-style {
  font-size: 2.4rem;
  padding-right: 0.5rem;
}


/* PROJECTS */

.project-button {
  width: 160px;
  font-size: 1rem;
}

.project-button-icon {
  font-size: 1.3rem;
}


/* EXPERIENCE */



@media screen and (min-width: 1200px) {
  .experience-accordian-container {
    max-width: 1100px;
  }
}

@media screen and (min-width: 992px) {
  .experience-heading {
    min-width: 900px;
  }
}

.education-item-container {
  max-width: 800px;
}







/* @media screen and (max-width: 992px) and (min-width: 768px) {
  .project-buttons {
    background-color: blue;
  }
} */


/* Notes on Bootstrap media breakpoints: */


/* Extra small devices (portrait phones, less than 576px) have no media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

/* Medium devices (tablets, 768px and up) */

/* Large devices (desktops, 992px and up) */

/* Extra large devices (large desktops, 1200px and up) */