
body {
  height: 100%;
  background-color: bisque;
}

.section1 {
  min-height: 40vh;
}

.border1 {
  border: 1px solid lightgray;
}

/* HERO */

.hero {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  height: 50vh;
  text-align: center;
}

/* ABOUT */

.profile-image {
  max-width: 300px;
}

/* Skills */

.icon-style {
  font-size: 2.4rem;
  padding-right: 0.5rem;
}



/* Notes on Bootstrap media breakpoints: */


/* Extra small devices (portrait phones, less than 576px) have no media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

/* Medium devices (tablets, 768px and up) */

/* Large devices (desktops, 992px and up) */

/* Extra large devices (large desktops, 1200px and up) */